$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto' , sans-serif;

h1, h2, h3 , h4, h5{
    font-family: $primary-font;
}

p{
    font-family: $secondary-font;
}

.header .nav-link{
    font-family: $primary-font;
}